<div class="main-bar">
    <div  ng-repeat="post in blogList | blogListType : type" class="md">
        <div class="date">
            <p class="month">{{post.date.month}}月</p>
            <p class="day">{{post.date.day}}</p>
        </div>
        <div class="md-context">
            <h1>{{post.title}}</h1>
            <div class="shot-text">
                <p>{{post.disc}}</p>
            </div>
        </div>
        <div class="md-foot">
            <a ng-href="#/post/{{post.url}}"><button class="pull-right btn btn-danger">阅读全文</button></a>
        </div>
    </div>
</div>